.popper-div { /* just an example */
    border: 1px solid red;
    background: #fff;
    z-index: 9999;
    padding: 0.25em;
    pointer-events: none;
    margin-top:59px;
    margin-left: 20px;
}

#cy{
    width: 100%;
    height: 100%;
}
::ng-deep body > div-popper{
    margin-top: 59px!important;
    margin-left: 80px!important;
}

.p-button{
    background-color: white;
    color: black;
    border-color: white;
}

.p-button:enabled:hover{
    background-color: rgb(89 94 107 / 17%);
    color: black;
    border-color: white;
}

#toolbar{
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
    background-color: rgb(128 128 128 / 13%);
}
