.popper-div { /* just an example */
    border: 1px solid red;
    background: #fff;
    z-index: 9999;
    padding: 0.25em;
    pointer-events: none;
}

#cy{
    width: 100%;
}

// .btnViewport{
//     position: absolute;
//     z-index: 1;
// }

// p-inputSwitch{
//     left: 31%;
//     bottom: 88%;
// }