<div style="border: 1px solid #dbdbdb;">
  <button 
  style="width: 58px;"
  tooltipPosition="bottom"
  type="button"
  pButton 
  pRipple
  (click)="expandedToolbar()"
  >
  <fa-icon *ngIf="!expanded" icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="expanded" icon="chevron-up"></fa-icon>
</button>
</div>
<div 
[ngStyle]="{'display': expanded === true ? 'block': 'none'}"
id="toolbar">
  <app-toolbar
  (resetEvent)="resetFromToolbar($event)"
  (errorEmitter)="errorFromToolbar($event)"
  (warningEmitter)="warningFromToolbar($event)"
  [cy]="cy"
  [parentNodeElements]="parentNodeElements"
  [senseNodeElements]="senseNodeElements"
  [formNodeElements]="formNodeElements"
  [senso1]="senso1"
  [senso2]="senso2"></app-toolbar>
</div>
<div class="alert alert-danger" *ngIf="error">
  <h1>An Error Occurred!</h1>
  <p>{{ error }}</p>
</div>
<div class="alert alert-warning" *ngIf="warning" style="text-align:center;">
  <h1>
    <fa-icon icon="triangle-exclamation"></fa-icon></h1>
    <h1>No elements retrieved!</h1>
</div>
<div id="cy" 
pDroppable="node" (onDrop)="drop($event)">
</div>
