<div class="main-layout">
    <div id="lateralColumn">
        <button id="button-sidebar" (click)="expanded = !expanded" mat-icon-button>
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="!expanded" [horizontal]="true" style="max-width: 350px;">
        <div class="card" style="width: 350px; height: 94.7vh;">
            <p-tabView>
                <p-tabPanel header="Lexicon">
                    <app-sidebar
                    (invioIdNodo)="nodeDraggedReceveid($event)"
                    ></app-sidebar>
                </p-tabPanel>
                <p-tabPanel header="Ontology">
                    to do
                </p-tabPanel>
            </p-tabView>

        </div>
    </div>
    <!-- container -->
    <div style="height: 94.7vh; background-color: lightyellow;width: 100%;overflow-x: hidden;">
        <app-cytoscape-graph
        [visualizedDraggedNode]="nodeDraggedSent"
        ></app-cytoscape-graph>
    </div>
</div>