<div class="main-layout">
    <div id="lateralColumn">
        <button id="button-sidebar" (click)="expandedSidebar()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <div class="flex-container">
      <div 
      class="flex-item card" 
      id="first"
      #firstElement
      (resized)="onResized($event)"
      style="max-width:50%;
      min-width: 8%;"
      [ngStyle]="{'display': expanded === true ? 'block': 'none'}">
        <p-tabView>
            <p-tabPanel header="Lexicon">
                <app-sidebar
                style="overflow-y:hidden"
                [events]="eventsSubject"
                (invioNodoParentFromTree)="nodoParentFromSidebar($event)"
                (invioNodoSenseFromTree)="nodoSenseFromSidebar($event)"
                (invioNodoFormFromTree)="nodoFormFromSidebar($event)"
                (invioDraggedNodeFromTree)="nodoDraggedFromSidebar($event)"
                (resetGraph)="resetGraph($event)"
                ></app-sidebar>
            </p-tabPanel>
            <!-- <p-tabPanel header="Ontology">
                to do
            </p-tabPanel> -->
         </p-tabView>
      </div>
      <div class="grabber" 
      [expanded]="expanded" appResize [leftResize]="firstElement" [rightResize]="rightElement"></div>
      <div class="flex-item" #rightElement 
      id="second"
      style="overflow: hidden;">
     <app-cytoscape-graph
     [events]="resetEventsSubject"
      [parentNode]="parentReceived"
      [senseNode]="senseReceived"
      [formNode]="formReceived"
      [draggedNode]="draggedNodeReceived"
     ></app-cytoscape-graph>
      </div>
    </div>
  </div>