  #lateralColumn {
    background-color: #f8f9fa;
    z-index: 1;
    float: left
  }

  #button-sidebar {
    border-radius: 4px;
    border: 1px solid #babfc4;
    margin-top: 7%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  #first {
    flex: 1 5 25%;
  }

  #second {
    flex: 1 5 75%;
  }

  .grabber {
    width: 5px;
  }

  .grabber:hover {
    cursor: e-resize;
  }
