
  .main-layout {
    display: flex;
    flex-direction: row;
  }  

  #lateralColumn{
    height: 94.7vh;
    background-color:#f8f9fa;
    z-index: 1;
    float:left
  }

  #button-sidebar{
    border-radius: 4px;
    border: 1px solid #babfc4;
    margin-top: 7%;
  }