/* BREAKPOINT schermo < 1920px */

@media screen and (min-width: 1025px) {
    .col {
        padding-left: 0;
    }

    .heightExtend {
        height: 63vh;
    }

    .heightMinimize {
        height: 47vh;
    }
    
    #lateralColumn{
        width: 3%;
    }
    
    .overlay500px {
        top: 26%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        backdrop-filter: blur(1px);
        height: 67vh;
    }
    
    .overlay200px {
        top: 47%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        height: 50vh;
        
    }

}

/* BREAKPOINT schermo 1920 x 1080px */

@media screen and (min-width: 1919px) {
    .col {
        padding-left: 0;
    }

    .heightExtend {
        height: 72vh;
    }

    .heightMinimize {
        height: 60vh;
    }

    #lateralColumn{
        width: 3%;
    }

    .overlay500px {
        top: 19%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        height: 74vh;
    }
    
    .overlay200px {
        top: 31%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        height: 62vh;
    }

}

/* BREAKPOINT schermo 3840 x 2160 px */

@media screen and (min-width: 3839px) {
    .heightExtend {
        height: 83vh;
    }

    .heightMinimize {
        height: 77.5vh;
    }

    #lateralColumn{
        width: 1%;
    }

    .overlay500px {
        top: 9%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        height: 85vh;
    }
    
    .overlay200px {
        top: 16%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        height: 77.5vh;
    }

}