$colorIcon: #999999;

#radioBtnsGroup {
    .row.up {
        .col-6 {
            padding-top: 10px;
        }
    }

    .row.bottom {
        .col-6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.p-inputgroup-addon{
    background: #ffffff;
}
.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component{
    width: 100%;
    border-radius: 6px 0 0 6px;
}

::ng-deep.p-tree{
    border:none;
    padding: 0;
}

::ng-deep.p-tabview-panels{
    height: 86.9vh;
}

form{
    height: 84vh;
}

button#btnIcon{
    background-color: $colorIcon;
    border-color: $colorIcon;
}

::ng-deep.p-treenode-content{
    padding: 0!important; 
}


::ng-deep.p-progress-spinner{
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

::ng-deep.p-inputswitch-slider{
    height:1em;
    width:2em;
}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
    background: #ffffff;
    width: 0.8em;
    height: 0.8rem;
    left: 0.25rem;
    margin-top: -0.4rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}

::ng-deep.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(0.9rem);
}

::ng-deep .p-inputswitch.p-component{
    top: 15%;
}