<form [formGroup]="cercaEntrataLessicale">
  <div class="containerFilter grid p-fluid">
    <div class="row">
      <div class="col-12">
        <div class="p-inputgroup">
          <span class="p-input-icon-right">
            <!-- <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i> -->
            <input type="text" pInputText formControlName="entrataLessicale">
          </span>
          <button pTooltip="show/hide filter" tooltipPosition="bottom" type="button" pButton pRipple
            icon="pi pi-filter-fill" (click)="showFilter()"></button>
          <button pTooltip="refresh form" tooltipPosition="bottom" id="btnIcon" type="button" pButton pRipple
            icon="pi pi-refresh" (click)="resetFilter()"></button>
        </div>
        <small [style.font-size]="fontInput" ><b>LEXICAL ENTRIES:</b></small> <small [style.font-size]="fontInput"> {{totalCount}}</small><br>
        <ng-container>
          <small [style.font-size]="fontInput">MORPHOLOGICAL TRAITS  </small>
        </ng-container>   
        <ng-container>
          <p-inputSwitch
          id="morphToggle"
          formControlName="morphologicalTraits"
          (onChange)="showHideMorphTraits($event)" 
          pTooltip="show/hide morphogical traits"
          tooltipPosition="bottom"
          ></p-inputSwitch>
        </ng-container>
      </div>
    </div>

    <div *ngIf="showF">
      <div id="radioBtnsGroup">
        <div class="row up">
          <div class="col-6">
            <p-radioButton 
            (onFocus)="onChange($event)" 
            value="equals" 
            name="selectedFilter"
            formControlName="selectedFilter"></p-radioButton>
            <label  [style.font-size]="fontInput" for="enterFilter">Equals</label>
          </div>
          <div class="col-6">
            <p-radioButton 
            (onFocus)="onChange($event)" 
            name="selectedFilter" 
            value="startsWith"
            formControlName="selectedFilter"></p-radioButton>
            <label  [style.font-size]="fontInput" for="enterFilter">Starts</label>
          </div>
        </div>
        <div class="row bottom">
          <div class="col-6">
            <p-radioButton 
            (onFocus)="onChange($event)" 
            name="selectedFilter" 
            value="contains"
            formControlName="selectedFilter"></p-radioButton>
            <label  [style.font-size]="fontInput" for="enterFilter">Contains</label>
          </div>
          <div class="col-6">
            <p-radioButton 
            (onFocus)="onChange($event)" 
            name="selectedFilter" 
            value="ends"
            formControlName="selectedFilter"></p-radioButton>
            <label  [style.font-size]="fontInput" for="enterFilter">Ends</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- POS -->
          <p-dropdown 
          placeholder="Pos" 
          optionLabel="name" 
          formControlName="posSelected" 
          [showClear]="true"
          (onClick)="fetchPos()"
          [options]="posFetched" 
          (onChange)="callServicePos()"></p-dropdown>
        </div>
        <!-- ENTRY -->
        <div class="col">
          <p-dropdown 
          (onChange)="callServiceEntry($event)" 
          [options]="entries" 
          placeholder="Entry" 
          optionLabel="name"
          [showClear]="true" 
          formControlName="entrySelected"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <!-- spinner -->
  <ng-container *ngIf="isLoading">
    <div 
    [ngClass]="{'overlay500px': showF===false,
                'overlay200px':showF===true}"
    class="overlay"></div>
    <p-progressSpinner></p-progressSpinner>
  </ng-container>
    <!-- tree component -->
    <app-tree
    [text]="text"
    [pos]="pos"
    [sensesFromLexo]="sensesFromLexo" 
    (invioNodoParent)="nodoParentReceived($event)"
    (invioNodoSense)="nodoSenseReceived($event)"
    (invioNodoForm)="nodoFormReceived($event)"
    (invioTotalCount)="totalCountReceived($event)"
    [showF]="showF"
    [ngClass]="{'heightExtend': !showF,
                'heightMinimize': showF,
                'resizeHeightExtend': changeFont&& !showF,
                'resizeHeighMinimize': changeFont && showF}"
                ></app-tree>
</form>