<form [formGroup]="cercaEntrataLessicale">
  <div class="containerFilter grid p-fluid">
    <div class="row">
      <div class="col-12">
        <div class="p-inputgroup"> 
          <span class="p-input-icon-right">
            <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
            <input type="text" pInputText formControlName="entrataLessicale">
          </span> 
          <button pTooltip="show/hide filter" tooltipPosition="bottom" type="button" pButton pRipple icon="pi pi-filter-fill" (click)="showFilter()"></button>
          <button pTooltip="refresh form" tooltipPosition="bottom" id="btnIcon" type="button" pButton pRipple icon="pi pi-refresh" (click)="resetFilter()"></button>
      </div>
          <small><b>LEXICAL ENTRIES:</b></small> {{totalCount}}
      </div>
    </div>

    <div *ngIf="showF">
      <div id="radioBtnsGroup">
        <div class="row up">
          <div class="col-6">
            <p-radioButton (onFocus)="onChange($event)" value="equals" name="selectedFilter" formControlName="selectedFilter"></p-radioButton>
            <label for="enterFilter">Equals</label>
          </div>
          <div class="col-6">
            <p-radioButton (onFocus)="onChange($event)" name="selectedFilter" value="startsWith" formControlName="selectedFilter"></p-radioButton>
            <label for="enterFilter">Stars</label>
          </div>
        </div>
        <div class="row bottom">
          <div class="col-6">
            <p-radioButton (onFocus)="onChange($event)" name="selectedFilter" value="contains" formControlName="selectedFilter"></p-radioButton>
            <label for="enterFilter">Contains</label>
          </div>
          <div class="col-6">
            <p-radioButton (onFocus)="onChange($event)" name="selectedFilter" value="ends" formControlName="selectedFilter"></p-radioButton>
            <label for="enterFilter">Ends</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- POS -->
          <p-dropdown 
          placeholder="Pos" 
          optionLabel="name" 
          formControlName="posSelected" 
          [showClear]="true"
          (onClick)="fetchPos()" 
          [options]="posFetched" 
          (onChange)="callServicePos()"></p-dropdown>
        </div>
        <!-- ENTRY -->
        <div class="col">
          <p-dropdown 
          (onChange)="callServiceEntry($event)" 
          [options]="entries" 
          placeholder="Entry" 
          optionLabel="name" 
          [showClear]="true"
          formControlName="entrySelected"
          ></p-dropdown>
        </div>
      </div>
    </div>


  </div>
  <p-divider></p-divider>
  <!-- <p-tree  [value]="sensesFromLexo" [scrollHeight]= "scrollHeight" (onNodeExpand)="nodeSelect($event)" [virtualScrollItemSize]="50">
  </p-tree> -->
    <p-tree   pDraggable="pnl"
    [value]="sensesFromLexo" 
    [scrollHeight]= "scrollHeight" 
    (onNodeExpand)="nodeSelect($event)"
    draggableNodes="true" droppableNodes="true"
     draggableScope="visible" droppableScope="visible"
    (onDragStart)="onDragStart($event)"
    (onDragEnd)="onDragEnd($event)">
      <ng-template let-node pTemplate="parentLevel" > 
        <i class="pi pi-circle-fill" style="font-size:small;"></i> {{node.label}} - <small><i>{{node.pos}}</i></small>
      </ng-template>
      <ng-template let-node pTemplate="childF2L"> 
        <i class="pi pi-circle" style="color:red;font-size:small;"></i> {{node.label}}
      </ng-template>
      <ng-template let-node pTemplate="childS2L"> 
        <i class="pi pi-circle" style="color:green;font-size:small;"></i> {{node.label}}
      </ng-template>

    </p-tree>
</form>